<h1>Listing proposals</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Protection type</th>
      <th>Premium value</th>
      <th>Term</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.customer %></td>
        <td><%= proposal.protection_type %></td>
        <td><%= proposal.premium_value %></td>
        <td><%= proposal.term %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
